@model List<Deck>
@{
    ViewBag.Title = "My Decks";
}

<h2>Deck List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th><th>Count</th></tr>
    </thead>
    <tbody>
        @foreach (var deck in Model)
        {
            <tr>
                <td>@deck.DeckName</td>
                <td>@deck.DeckCount</td>
            </tr>
        }
    </tbody>
</table>